# Backend
DATABASE_URL=sqlite:///./lf.db
SECRET_KEY=58260939eba043b22fec53a72ca4aa53b1b3e3b48ce9769bcf3819c7261bf19d
FRONTEND_ORIGIN=http://localhost:4321

# Frontend (Astro solo expone variables que empiezan con PUBLIC_)
PUBLIC_API_URL=http://localhost:8000
